@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,400;1,700&display=swap');

:root{
  --primary-color:#49c5b6;
  --dark-grey:#525252;
  --offwhite:#f3f4f6;
}

body{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin: 0px;
  font-size: large;
}

.link-align:hover{
  font-size: 1.5rem;
}
.nav-brand a{
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
}

.container{
  padding: 1rem 1rem;
}
.container-center{
  max-width: 600px;
  margin: auto;
}
.links{
  text-decoration: none;
  padding: 0.5rem 1rem;
  box-sizing: border-box;

}
.link-primary:hover{
  background-color: #DF6C4F;
  border-radius:1rem;
}
.link-secondary:hover{
  background-color: #DF6C4F;
  color: white;
  border:2px solid #DF6C4F;
  border-radius: 1.2rem;
  
}

.link-primary{
  background-color:var(--primary-color);
  transition-duration:300ms;
  color: aliceblue;

  

}
.link-secondary{
  color:var(--primary-color) ;
  transition-duration: 300ms;
  border: 2px solid var(--primary-color);
  
}
.link-align{
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: larger;
}
hr{
  margin:2rem 0rem;
}

.list-non-bullet{
  list-style: none;
}

.list-item-inline{
  display: inline;
  padding: 0rem 0.5rem;
}
.navigation {
  background-color: var(--primary-color);
  color: white;
  padding: 1rem;
  
}
.navigation .links:hover{
  color:#DF6C4F;
  border:1px #DF6C4F
}

.navigation .links {
  color: white;
 
}
.navigation .nav-pills{
  text-align: right;
}
.navigation .nav-brand{
  font-weight: bold;
  font-size: 1.5remrem;
}
.navigation .link-active{
  font-weight: bold;
}

/* header */

.hero{
  padding: 2rem;
}

.hero .hero-img{
  max-width: 350px;
  display:block;
  margin: auto;
}
.hero .hero-heading{
color: var(--dark-grey);
text-align:center;
}

.section h1{
  
 
}
.section{
  padding: 2rem;
}
.ow{
  background-color: var(--offwhite);
;
}

/* footer */
.footer{
  background-color: var(--primary-color);
  padding: 2rem;
  text-align: center;
  color: white;
  border-top-right-radius: 1rem;
}

.footer .links{
  color: white;
}
.footer ul{
  padding-inline-start: 0px;
}
.small-dis{
  text-align: center;
  display: block;
  margin: 0;
  padding: 0%;
  text-size-adjust:2rem;

}

.no-padding{
  padding-inline-start: 0%;
}

.footer .footer-header{
  font-size: large;
  font-weight: bolder;
}

.project-js{
  padding: 4rem;
  margin-top: 4rem;
  border-radius: 2rem;
  margin-left: 20rem;
  margin-right: 20rem;
}

.portfolio-sections{
  margin: 2rem 0;
}

.sec-bor{
  border:3px;
  border-style: solid;
  border-color: #DF6C4F;
}

/* Second portfolio design */
.cards:hover{
  transform: scale(1.05);
}
.cards{
 width: 20%; 
 background-color:var(--offwhite);
 border-radius: 10px;
 margin: 50px;
 box-shadow: 2px 2px 10px black;
 display: inline-block;
 /* Remove */
 
}

.image img{
  width: 100%;
  border-top:10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.title{
  text-align: center;
}
.description{
  text-align: center;
}

.card-btn{
  margin: 20px;
  font-size: 20px;
  border-width: 2px;
  border-radius: 10px;
  background-color: #49c5b6;
  box-shadow: 0.5px 0.5px 2px black;
  position: relative;
  
}
.card-btn:hover{
  background-color: #DF6C4F;
  transition: 100ms;
  cursor: pointer;
  transform: scale(1.05);
}
