@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,400;1,700&display=swap');

:root{
  --primary-color:#49c5b6;
  --dark-grey:#525252;
  --offwhite:#f3f4f6;
}

body{
  font-family: 'Roboto Mono', monospace;
  margin: 0px;
  
}

.container{
  padding: 1rem 1rem;
}
.container-center{
  max-width: 600px;
  margin: auto;
}
.links{
  text-decoration: none;
  padding: 0.5rem 1rem;
  box-sizing: border-box;

}
.link-primary:hover{
  background-color: #DF6C4F;
}
.link-secondary:hover{
  background-color: #DF6C4F;
  color: white;
  border:2px solid #DF6C4F
}

.link-primary{
  background-color:var(--primary-color);
  border-radius: 0.5rem;
  color: aliceblue;

  

}
.link-secondary{
  color:var(--primary-color) ;
  border-radius: 0.5rem;
  border: 2px solid var(--primary-color);
  
}
.link-align{
  text-align: center;
}
hr{
  margin:2rem 0rem;
}

.list-non-bullet{
  list-style: none;
}

.list-item-inline{
  display: inline;
  padding: 0rem 0.5rem;
}
.navigation {
  background-color: var(--primary-color);
  color: white;
  padding: 1rem;
  
}

.navigation .links {
  color: white;
 
}
.navigation .nav-pills{
  text-align: right;
}
.navigation .nav-brand{
  font-weight: bold;
  font-size: 1.5remrem;
}
.navigation .link-active{
  font-weight: bold;
}

/* header */

.hero{
  padding: 2rem;
}

.hero .hero-img{
  max-width: 350px;
  display:block;
  margin: auto;
}
.hero .hero-heading{
color: var(--dark-grey);
text-align:center;
}

.section h1{
  text-align: center;
 
}
.section{
  padding: 2rem;
}
.ow{
  background-color: var(--offwhite);
;
}

/* footer */
.footer{
  background-color: var(--primary-color);
  padding: 2rem;
  text-align: center;
  color: white;
  border-top-right-radius: 1rem;
}

.footer .links{
  color: white;
}
.footer ul{
  padding-inline-start: 0px;
}
.small-dis{
  text-align: center;
  display: block;
  margin: 0;
  padding: 0%;
  text-size-adjust:2rem;

}

.no-padding{
  padding-inline-start: 0%;
}

.footer .footer-header{
  font-size: large;
  font-weight: bolder;
}

.project-js{
  padding: 4rem;
  margin-top: 4rem;
  border-radius: 2rem;
  margin-left: 20rem;
  margin-right: 20rem;
}

.portfolio-sections{
  margin: 2rem 0;
}

